body { /*Default font size*/
  font-size: 14px;
}

nav { /*Navigational element*/
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section { /*Default font size for a section*/
  margin: auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 { /*specific for h3 nested in example class*/
  padding-top: 30px;
  text-align: center
}

h3 {
  font-size: 1.3em;
}

.element { /*default for all divs*/
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

#colorchange { /*last 3 divs*/
  background-color: pink;
}
